<nav class="navbar navbar-expand-lg navbar-light bg-light"> <a class="navbar-brand" href="#" data-abc="true"></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active"> <a class="nav-link" href="#" data-abc="true"><span class="sr-only"></span></a> </li>
          
          <label for="cars" style="padding-top:9px">Display: </label>
  <select name="numbers" id="numbers">
    <option value="num1">5</option>
    <option value="num2">10</option>
    <option value="num3">15</option>
    <option value="num4">20</option>
  </select>
          <li class="nav-item"> <a class="nav-link" href="#" data-abc="true">records</a> </li>
      </ul>
      
      <form style="padding-left:800px">
        <ul style="display: flex;">
       <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
        </ul> </form>
  </div>
  
  
</nav>

